.search-list {
  min-width: 330px;
  list-style-type: none;
}
.search-list-btn {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  text-align: left;
  border: 0px;
}
.un-state-name {
  color: #64748b;
  font-size: 15px;
}
.state-code-con {
  display: flex;
  align-items: center;
  color: #facc15;
  background-color: rgba(28, 212, 212, 0.16);
  border-radius: 10px;
}

.state-code {
  font-size: 20px;
}
.right-square {
  font-size: 20px;
}
