.specific-state-top-con {
  min-height: 50vh;
  padding: 30px;
}
.specific-state-name-test-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.state-top-name {
  font-size: 20px;
  width: 200px;
  background-color: transparent;
  border: 0px;
  background: rgba(2, 132, 199, 0.16);
  color: #0ea5e9;

  border-radius: 15px;
  margin-top: 30px;
}
.state-updated-date {
  color: #cbd5e1;
  font-size: 20px;
}
.tested-con {
  color: #cbd5e1;
  font-size: 20px;
}
