.top-districts-list {
  display: flex;
  width: 300px;
  font-size: 20px;
  color: #6c757d;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.top-dist-head {
  color: red;
  font-size: 23px;
}
.top-dist-name {
  margin-left: 10px;
}
.Top-dist-main-con {
  display: flex;
  flex-wrap: wrap;
}
.districts-main-con {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
