button {
  background-color: transparent;
  border: 0px;
}
li {
  list-style-type: none;
}
.state-specific-unorder-con {
  display: flex;

  justify-content: center;
}
.confirm-background {
  background-color: #331427;
  color: #ff073a;
  height: 180px;
  width: 120px;
}
.active-background {
  background-color: #132240;
  color: #007bff;
  height: 180px;
  width: 120px;
}
.sp-active {
  color: #007bff;
  height: 180px;
  width: 120px;
}
.recovered-background {
  background-color: #182829;
  color: #28a745;
  height: 180px;
  width: 120px;
}
.sp-recovered {
  color: #28a745;
  height: 180px;
  width: 120px;
}
.deceased-background {
  background-color: #212230;
  color: #6c757d;
  height: 180px;
  width: 120px;
}
.sp-deceased {
  color: #6c757d;
  height: 180px;
  width: 120px;
}
.sp-confirm {
  color: #ff073a;
  height: 180px;
  width: 120px;
}
.image {
  height: 90px;
  width: 80px;
}
